.App {
  text-align: center;
}

.self-promo {
  font-size: 25px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sightcard {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  flex-grow: 1;
}

.sight-title {
  padding: 5px 85px 5px 85px;

}

.Congrats-font {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
}

.footer {
  bottom: 0;
  
}

.footer-container {

  width: 100%;
  /*margin: 0 auto;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position:fixed;
  bottom:0;
}

.footer-size {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* #### Mobile Phones Landscape #### */
@media screen and (max-width: 680px) and (orientation: landscape)  {
  .card-columns {
      column-count: 2;
    }
  }

  /* #### Mobile Phones Portrait #### */
@media screen and (max-width: 680px) and (orientation: portrait)  {
  .card-columns {
    column-count: 1;
  }

/* #### Tablet Portrait #### */
  @media screen and (min-width: 680px) and (max-width: 1060px) and (orientation: portrait){
    .card-columns {
      column-count: 3;
    }
  }

  /* #### Tablet Lanscape #### */
  @media screen and (min-width: 680px) and (max-width: 1060px) and (orientation: landscape){
    .card-columns {
      column-count: 4;
    }
  }
}